.jumbotron{
    margin-bottom: 0px;
}
#cards{

    width: 80%;
    position: relative;
    margin-right: 0px;

}
#sidebar{
    position: relative;
    margin-left: 0px;
}

.container{
    width: 100%;
    max-width: 100%;
    display: inline-flex;

}

#sidebarContainer{

}